@model IEnumerable<ElectronicJournal.Models.Student>

@{
    ViewData["Title"] = "Список групи";
}

<h2>Список групи</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <p>№</p>
            </th>
            <th>
                <p>Прізвище</p>
            </th>
            <th>
                <p>Ім'я</p>
            </th>
            <th>
                <p>По-батькові</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@(++i)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Father)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-default" asp-route-id="@item.ID">Деталі</a>
                    @if (User.IsInRole("GroupLeader"))
                    {
                        <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.ID">Редагувати</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ID">Видалити</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("GroupLeader"))
{
    <p>
        <a asp-action="Create"><h4>Додати нового студента</h4></a>
    </p>
}
