@model IEnumerable<ElectronicJournal.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Назва заняття</p>
                @*@Html.DisplayNameFor(model => model.Subject.SubjectName)*@
            </th>
            <th>
                <p>Аудиторія</p>
                @*@Html.DisplayNameFor(model => model.Classroom)*@
            </th>
            <th>
                <p>Тип заняття</p>
                @*@Html.DisplayNameFor(model => model.Type)*@
            </th>
            <th>
                <p>Номер пари</p>
            </th>
            <th>
                <p>Дата</p>
                @*@Html.DisplayNameFor(model => model.Date)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberLesson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>



            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редагувати заняття</a> |
                <a asp-action="AddMissings" asp-route-id="@item.ID">Позначити відсутніх</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
