@model List<Lesson>

@{
    ViewData["Title"] = "Редагування пар";
}

<style>
    .heads {
        color: royalblue
    }

    .formButtons {
        position: relative;
    }
</style>

<h1>Тиждень @ViewBag.numberOfWeek</h1><br />

<a asp-action="Index"><h4>Вивести всі пари на одній сторінці</h4></a>
@if (User.IsInRole("Admin") || User.IsInRole("GroupLeader"))
{
    <a asp-action="Create"><h4>Додати нову пару</h4></a>
}

<table class="table">
    <tbody>
        @{
            var culture = new System.Globalization.CultureInfo("uk-UA");
        }
        @foreach (var day in Model.GroupBy(m => m.Date))
        {
            <tr>
                <th>
                    <h2 class="heads">@culture.DateTimeFormat.GetDayName(day.Key.DayOfWeek)</h2>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <p>Назва заняття</p>
                </th>
                <th>
                    <p>Аудиторія</p>
                </th>
                <th>
                    <p>Тип заняття</p>
                </th>
                <th>
                    <p>Номер пари</p>
                </th>
                <th>
                    <p>Дата</p>
                </th>
                <th></th>
            </tr>
            @foreach (var item in day)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classroom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberLesson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">Деталі |</a>
                        @if (User.IsInRole("Admin") || User.IsInRole("GroupLeader"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Редагувати  |</a>
                            <a asp-action="AddMissings" asp-route-id="@item.ID">Відмітити відсутніх  |</a>
                            <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br /><br />

<br />
<div class="formButtons" align="center">
    <h5>Перейти до тижня</h5>

    <form asp-action="IndexPagging">
        @if (ViewBag.numberOfWeek > 1)
        {
            <button class="btn btn-default" asp-route-id="@(ViewBag.numberOfWeek - 1)">Попередній</button>
        }


        @for (int i = 0; i < ViewBag.numWeeks; i++)
        {
            <button class="btn btn-default" asp-route-id="@(i + 1)">@(i + 1)</button>
        }

        @if (ViewBag.numberOfWeek < ViewBag.numWeeks)
        {
            <button class="btn btn-default" asp-route-id="@(ViewBag.numberOfWeek + 1)">Наступний</button>
        }
    </form>
</div>
